$m-blue : #6383DB;

body{

    color:black;
    background:white;
    transition-duration: 1s;
}

p{
    font-size: 40px;
}

col{
    margin:0;
}

#line1{
    height: 50rem;
    margin:0;
    //background: $m-blue;
}
#line2{
    height: 50rem;
    margin:0;
    //background: $m-blue;
}
#line3{
    height: 50rem;
    margin:0;
    //background: $m-blue;
}
#line4{
    height: 50rem;
    margin:0;
    //background: $m-blue;
}

#line5{
    height: 50rem;
    margin:0;
    //background: $m-blue;
}